@import 'normalize.css';
@import 'animations.css';

$textFont: 'Alegreya Sans', sans-serif;
$numberFont: 'Frank Ruhl Libre', sans-serif;
$basicBorderRadius: 5px;

* {
  box-sizing: border-box;
  font-family: $textFont;
}

body {
  background-color: #F2F2F2;
  font-size: 14px;
}

.Accordion-group {
  border-radius: $basicBorderRadius;
  padding: 0 5%;
  margin-top: 5%;
}

.Accordion {
  padding: 0;
  border: 1px solid #D5D5D5;
  background-color: white;
  max-width: 590px;
  margin: 0 auto;
  overflow: hidden;

  h3 {
    margin: 0;
    padding: 0;
  }
}

.Accordion:first-child {
  border-radius: 5px 5px 0 0;
}

.Accordion:last-child {
  border-radius: 0 0 5px 5px;
}

.Accordion.focus {
  width: 100%;
  position: relative;
  animation: onTop 0.5s ease-in-out;
  z-index: 2;
  transform: scale(1.02);
  background-color: white;
  box-shadow: 3px 3px 3px 3px #DCDCDC;
  border-radius: $basicBorderRadius;

  .Accordion-panel {
    animation: onShow 0.3s ease-in-out;
  }
}

.Accordion-trigger {
  background: none;
  color: hsl(0, 0%, 13%);
  display: block;
  font-size: 1rem;
  padding: 1em;
  position: relative;
  text-align: left;
  width: 100%;
  border-style: none;
  z-index: 1;
  outline: none;

  .bank-name {
    background-color: #E5E5E5;
    padding: 2px 5px;
    display: inline-block;
    font-size: 0.85em;
    text-overflow: ellipsis;
    max-width: 90%;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 0.2em;
  }

  .menu-icon {
    width: 25px;
    display: flex;
    height: 25px;
    background-color: #F2F2F2;
    border-radius: 50%;
    align-items: center;
    position: absolute;
    top: 1em;
    right: 1.2em;

    svg {
      height: 60%;
      fill: #636568;
    }
  }
}

.Accordion:last-child > h3 > .Accordion-trigger {
  border-radius: 0 0 5px 5px;
}

.Accordion.focus > h3 > .Accordion-trigger,
.Accordion:first-child > h3 > .Accordion-trigger{
  border-radius: 5px 5px 0 0;
}


.Accordion-trigger[aria-expanded="false"] {
  background-color: #F9F9F9;

  .available-funds {
    display: block;
    white-space: nowrap;

    .special-holder {
      display: none;
    }
  }

  .menu-icon {
    display: none;
  }
}

.Accordion-trigger[aria-expanded="true"] {

  .available-funds {
    display: none;
  }

  .menu-icon {
    display: flex;
  }
}

.Accordion-trigger:focus,
.Accordion-trigger:hover {
  background: hsl(215, 94%, 94%);
}

.Accordion-trigger:focus > .Accordion-title {
    outline: 2px darkblue solid;
}

.Accordion-title {
  pointer-events: none;
  border-radius: $basicBorderRadius;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 0.3em;
  padding: 0.3em;

  .account-details {
    overflow: hidden;

    .account-title {
      padding: 0.3em 0;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: 1.3em;
    }

    .account-number {
      font-family: $numberFont;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.Accordion-panel {
  margin: 0;
  padding: 0 1em 1em 1em;
  overflow: hidden;


  .details {
    border: 0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: last baseline;

    .amount {
      float: right;
      margin-left: 1em;
      font-family: $numberFont;
      font-size: 1em;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .available-funds > .account-balance {
      font-size: 1.9em;
    }

    .balance-section {
      display: none;
      margin-bottom: 1em;
      padding-top: 1em;
    }
  }
}

.buttons {

  display: flex;
  justify-content: space-between;

  button {
    width: 45%;
    margin-top: 0.5em;
    border: 1px solid #D5D5D5;
    border-radius: $basicBorderRadius;
    background: none;
    padding: 10px 0;

    &:hover {
      background: #e5e5e5;
    }

    &:focus{
      border: darkblue solid 2px;
      outline: unset;
    }

    &:nth-of-type(1) {
      display: none;
    }

    &:nth-of-type(3) {
      background-color: #003574;
      color: white;

      &:hover {
        background-color: #002d65;
      }

      &:focus{
        border: black solid 2px;
      }
    }
  }
}

.small {
  font-size: 0.85em;
  color: #636568;
  font-family: $textFont;
}

.available-funds {
  margin-left: 1em;
  white-space: nowrap;
  text-align: right;
}

.currency {
  font-family: $textFont;
  font-size: 1em;
}

.account-balance {
  font-family: $numberFont;
  font-size: 1.3em;

  span:nth-child(1) {
    font-size: 0.8em;
  }
}


@media only screen and (min-width: 400px) {

  body {
    font-size: 16px;
  }

  .buttons {
    button {
      width: 31%;
    }

    button:nth-of-type(1) {
      display: block;
    }
  }

  .Accordion-panel > .details > .balance-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 1em;
    overflow: hidden;
    border-right: 1px solid darkgray;

    .balance {
      display: block;
    }
  }
}
